*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    text-align: left;
    width: 320px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
    outline: none;
    margin-top: 5px;
  }
  

  .strength-text {
    margin-top: 5px;
    font-weight: bold;
    text-align: right;
    font-size: 14px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  